# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Secrets / credentials
*.pem
*.key
.env
infra/.env


# Data
data/
*.csv
*.parquet
*.json

# BI tools
*.pbix
*.twb
*.hyper
